
# Don't include tokens
signing/token*
signing/*.key

# Don't include copyrighted assets
dist/assets/indexes/*
dist/assets/objects/*
data/*
build/*
dist/java/*
dist/libraries/*
launcher/data.7z

# Don't include Java (might have license)
java/*

# Don't include internal management
mods/*

# Don't include private & public key
private.key
public.key

# Don't include token.go
launcher/token.go
launcher/token.go_copy.txt

# Don't include tests
launcher/12111_FA0183
launcher/MinecraftPortableLauncher.exe

# Don't include pycache
__pycache__/

# Don't include lib list
libraries_list.txt

# Don't include worldsync

dist/mods/world-sync*.jar

# Don't include secrets

SECRET

# Don't include link
UploadUrl.py

delta.bin
compressionList.txt
skippable.bin

launcher/static.7z
launcher/unskippable.bin
launcher/dynamic.7z
launcher/delta.bin

# Ignore everything in mods
dist/mods/*
# But keep parent dirs
!dist/
!dist/mods/
# Keep specific JARs
!dist/mods/stealthpipe-*.jar
!dist/mods/world-sync-*.jar

launcher/src/data/bin/*
launcher/src/data/token.go
launcher/src/data/token.go_copy.txt